/* -----------------------------------------------------------------
// tab
// ---------------------------------------------------------------*/
.tab {
    width: 579px;
    min-height: 260px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    margin: 50px auto 0 auto;
}

.tab__nav-list {
    display: flex;
    justify-content: space-around;
}

.tab__nav-item + .tab__nav-item{
    border-left: 1px solid #fff;
}

.tab__nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 40px;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.2s ease;
}

.tab__nav-button:focus,.tab__nav-button:hover {
    background-color: #fff;
}

.tab__nav-button.is-active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab__contents {
    display: none;
}

.tab__contents.is-active {
    display: block;
}

.tab__contents-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.tab__contents-item {
    display: flex;
    font-size: 18px;
}

.tab__contents-icon {
    width: 19px;
    margin: 2px 0 0 10px;
}

.tab__contents-info {
    font-size: 15px;
    margin-left: 3px;
}

.tab__img{
    width: 120px;
}

.tab__img:nth-child(3){
    width: 100px;
}

.tab__contents-new {
    width: 35px;
    margin: 2px 0 0 11px;
}
